body {
  background-color: #E2B200;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 5%;
}

ul {
	list-style: none;
	display: block;
	margin: 5% auto;
	width: 20%;
}

li {
	display: block;
	background-color: #fff;
	border: 2px dashed #000;
	margin: 5% 0;
}

a:link,
a:visited,
a:active {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: lime;
}

a.soc-link {
	display: block;
	margin-top: 2%;
}
