.grid {
  display: grid;
  
  grid-template-columns: 150px auto 150px;

  grid-template-rows: 150px auto 50px;
  /*repeat(3, 100px);*/
  grid-gap: 1em;
}

aside 

header,
aside,
article,
footer {
  /*background: #eaeaea;*/
  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  left:20em;
}

img.mugshot {
  /*
    max-width: 300px; */
    max-width: 100px;
    border-radius: 30%;
    border: 10px dotted #6b9080;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  /*border: 2px solid green;*/
  /*margin: 10px;*/
}


/*.wrapper div:nth-child(odd) {
  border: 10px dotted #35b899;
}*/

blockquote {
    position: relative;
    /* background: #ddd; */
}

blockquote:before {
  position: absolute;
  content: open-quote;
  font-size: 4em;
  margin-left: -0.6em;
  margin-top: -0.4em;
  color: #35b899
}

blockquote p {
  display: inline;
}


.grid .search {
position: absolute;
right:20em;
   margin: auto;

   width: 60px;
   height: 60px;
   background: #35b899;
   border-radius: 50%;
   transition: all 1s;
   z-index: 4;
  
}
 .grid .search:hover {
   cursor: pointer;
}
 .grid .search::before {
   content: "";
position: absolute;
   margin: auto;
   top: 22px;
   right:0;
   bottom: 0;
   left: 22px;
   width: 12px;
   height: 2px;
   background: white;
   transform: rotate(45deg);
   transition: all 0.5s;
}
 .grid .search::after {
   content: "";
position: absolute;
   margin: auto;
   top: -5px;
   right: 0;
   bottom: 0;
   left: -5px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid white;
   transition: all 0.5s;
}
 .grid input {

   font-family: 'Inconsolata', monospace;
position: absolute;
margin: auto;
right: 30em;
   width: 50px;
   height: 50px;
   outline: none;
   border: none;
   background: #35b899;
   color: #cfecde;
   padding: 0 80px 0 20px;
   border-radius: 30px;
   transition: all 1s;
   opacity: 0;
   z-index: 5;
   font-weight: bolder;
   letter-spacing: 0.1em;
}
 .grid input:hover {
   cursor: pointer;
}
 .grid input:focus {
  position: absolute;
   width: 300px;
   opacity: 1;
   cursor: text;
}
 .grid input:focus ~ .search {
   position: absolute;
   background: #aee2d6;
   z-index: 6;
}
 .grid input:focus ~ .search::before {
   top: 0;
   left: 0;
   width: 25px;
}
 .grid input:focus ~ .search::after {
 top: 0;
   left: 0;
   width: 25px;
   height: 2px;
   border: none;
   background: white;
   border-radius: 0%;
   transform: rotate(-45deg);
}
 .grid input:placeholder {
   color: black;
   opacity: 0.5;
   font-weight: bolder;
}

footer {
  display: block;
  background-color: #cce3de;
}
